<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="duy_banner_slider_banner_listing_data_source" xsi:type="string">Duy\BannerSlider\Model\ResourceModel\Banner\Grid\Collection</item>
                <item name="duy_banner_slider_slider_listing_data_source" xsi:type="string">Duy\BannerSlider\Model\ResourceModel\Slider\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Duy\BannerSlider\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">duy_bannerslider_banner</argument>
            <argument name="eventPrefix" xsi:type="string">duy_bannerslider_banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Duy\BannerSlider\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>
    <type name="Duy\BannerSlider\Model\ResourceModel\Slider\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">duy_bannerslider_slider</argument>
            <argument name="eventPrefix" xsi:type="string">duy_bannerslider_slider_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">slider_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Duy\BannerSlider\Model\ResourceModel\Slider</argument>
        </arguments>
    </type>
</config>
