<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="duy_banner_slider" frontName="duy_banner_slider">
            <module name="Duy_BannerSlider"/>
        </route>
    </router>
</config>
